<%- include ('header.ejs') %>
<style>
    .container {
        text-align: center;
        width: 100%;
        min-width: 1200px;
    }
    .pic {
      margin: 70px auto;
      margin-bottom: 200px;
    }
    .heading {
        margin-top: 100px;
    }
</style>

<!-- Main-->
<div class="container">
  <h3 class="heading">The page you are looking for</h3>
  <h3>does not exist</h3>
  <img class="pic" src="/public/img/4.png" alt="">
  <img class="pic" src="/public/img/emojione_frowning-face.png" alt="">
  <img class="pic" src="/public/img/4.png" alt="">
</div>

<%- include ('footer.ejs') %>