  <!-- Footer -->
  <div class="footer">
    <div class="footer-content-container">
        <div class="footer-div">
            <h4 class="footerHead">SUNY Korea</h4>
            <ul>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="http://www.sunykorea.ac.kr/">SUNY Korea Website</a></h5>
                </li>
                
                <li class="footer-li">
                    <h5 class="footerDown"><a href="http://ams.sunykorea.ac.kr/">Applied Mathmatics and
                            Statistics</a></h5>
                </li>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="http://bus.sunykorea.ac.kr/">Business Management</a></h5>
                </li>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="https://sunyk.cs.stonybrook.edu/">Computer Science</a></h5>
                </li>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="http://me.sunykorea.ac.kr/">Mechanical Engineering</a></h5>
                </li>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="http://dts.sunykorea.ac.kr/">Technology & Society</a></h5>
                </li>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="http://sunykorea.ac.kr/page/fit202070">FD/FBM</a></h5>
                </li>
            </ul>
        </div>
        <div class="footer-div" style="margin-left: 3%;">
            <h4 class="footerHead">Stony Brook</h4>
            <ul>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="https://www.stonybrook.edu/">SBU Website</a></h5>
                </li>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="https://it.stonybrook.edu/services/blackboard">Blackboard</a></h5>
                </li>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="https://classie-evals.stonybrook.edu/section">Course Evaluation</a></h5>
                </li>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="https://stb.degreeworks.suny.edu/">Degree Works</a></h5>
                </li>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="https://it.stonybrook.edu/services/solar">Solar</a></h5>
                </li>
            </ul>
        </div>
        <div class="footer-div" style="margin-left: -3%;">
            <h4 class="footerHead">FIT</h4>
            <ul>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="https://www.fitnyc.edu/">FIT Website</a></h5>
                </li>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="https://it.fitnyc.edu/blackboard-lms/">Blackboard</a></h5>
                </li>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="https://login.fitnyc.edu/samlsso">MyFIT</a></h5>
                </li>
            </ul>
        </div>
        <div class="footer-div" style="margin-left: -4%;">
            <h4 class="footerHead">IGC</h4>
            <ul>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="https://housing.igc.or.kr/">Housing</a></h5>
                </li>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="https://itcenter.igc.or.kr/xefc/egene/login.jsp">IT Center</a></h5>
                </li>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="https://www.igc.or.kr/">IGC Homepage</a></h5>
                </li>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="https://lib.igc.or.kr/">IGC Library</a></h5>
                </li>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="#"></a></h5>
                </li>
                <li class="footer-li">
                    <h5 class="footerDown"><a href="#"></a></h5>
                </li>
                <li class="footer-li" style="margin-bottom: 3%;">
                <a href="/PrivacyPolicy">Privacy Policy</a>
                </li>
                <li class="footer-li">
                <a href="/TermsofService">Terms of Service</a>
                </li>
                <li class="footer-li">
                  <a href="/ourTeam">Made by</a>
                  </li>
                <li class="footer-li">
                    <h4 class="footerHead">
                           <a href="https://www.facebook.com/uscsunykorea" class="facebook">
                                <img src="\public\img\facebook_logo.png" alt="" style="display: inline-flex; width: 35px; height: 35px; margin-top: 5px;">
                            </a>
                            <a href="https://www.instagram.com/uscsunykorea/" class="instagram">
                                <img src="\public\img\insta_logo.png" alt="" style="display: inline-flex; width: 35px; height: 35px; margin-top: 5px;">
                            </a>
                            <a href="http://pf.kakao.com/_txdxmxlK" class="instagram">
                                <img src="\public\img\kakao_logo.png" alt="" style="display: inline-flex; width: 35px; height: 35px; margin-top: 5px;">
                            </a>
                            <a href="mailto:USC@sunykorea.ac.kr" class="instagram">
                                <img src="\public\img\gmail_logo.png" alt="" style="display: inline-flex; width: 43px; height: 33px; margin-top: 5px;">
                            </a>
                       
                    </h4>
                </li>

            </ul>
        </div>
    </div>
</div>

</body>
</html>



