<%- include('header.ejs') %>
    <link rel="stylesheet" href="\css\ourTeam.css">
    <div class="top">
        <h2>Our team</h2>
    </div>
    <hr class="line" style="width: 80%;">
    <div class="body">
        <h3>We're bringing together leaders and experts to consider how to make connections between students and universities in the Covid-19 era,<br> and we made the first official student council web application in 2021.</h3>
    </div>
    <div class="members" style="text-align: center;">
        
            <div class="box1 box col1">
                <div class="portfolio-item portfolio-effect__item portfolio-item--eff1" >
                    <img class="portfolio-item__image" src="\public\img\SiJe.jpeg" alt="Portfolio Ie" width="200px" height="200px">
                    <div class="portfolio-item__info">
                    <h3 class="portfolio-item__header">Sije Park</h3>
                        <div class="portfolio-item__link-block">
                            <i class="material-icons">Project Manager</i>
                        </div>
                    </div>  
                </div>
            </div>

            
                <div class="box1 box col1">
                    <div class="portfolio-item portfolio-effect__item portfolio-item--eff1">
                        <img class="portfolio-item__image" src="\public\img\DukYong.jpeg" alt="Portfolio Ie" width="200px" height="200px">
                        <div class="portfolio-item__info">
                        <h3 class="portfolio-item__header">Dukyoung Eom</h3>
                            <div class="portfolio-item__link-block">
                                <i class="material-icons">Full Stack Developer</i>
                            </div>
                        </div>  
                    </div>
                </div>
            
            
                <div class="box1 box col1">
                    <div class="portfolio-item portfolio-effect__item portfolio-item--eff1">
                        <img class="portfolio-item__image" src="\public\img\Matt.jpeg" alt="Portfolio Ie" width="200px" height="200px">
                        <div class="portfolio-item__info">
                        <h3 class="portfolio-item__header">Matt Park</h3>
                            <div class="portfolio-item__link-block">
                                <i class="material-icons">Backend Developer</i>
                            </div>
                        </div>  
                    </div>
                </div>
            
        
        
            
                <div class="box1 box col1">
                    <div class="portfolio-item portfolio-effect__item portfolio-item--eff1">
                        <img class="portfolio-item__image" src="\public\img\Younghwan.jpeg" alt="Portfolio Ie" width="200px" height="200px">
                        <div class="portfolio-item__info">
                        <h3 class="portfolio-item__header">Younghwan Cha</h3>
                            <div class="portfolio-item__link-block">
                                <i class="material-icons">Frontend Developer</i>
                            </div>
                        </div>  
                    </div>
                </div>
            
            
                <div class="box1 box col1">
                    <div class="portfolio-item portfolio-effect__item portfolio-item--eff1" >
                        <img class="portfolio-item__image" src="\public\img\Jeongmin.jpeg" alt="Portfolio Ie" width="200px" height="200px">
                        <div class="portfolio-item__info">
                        <h3 class="portfolio-item__header">Jeongmin Yoo</h3>
                            <div class="portfolio-item__link-block">
                                <i class="material-icons">UI/UX Designer</i>
                            </div>
                        </div>  
                    </div>
                </div>
            
           
                <div class="box1 box col1">
                    <div class="portfolio-item portfolio-effect__item portfolio-item--eff1">
                        <img class="portfolio-item__image" src="\public\img\YooHa.png" alt="Portfolio Ie" width="200px" height="200px">
                        <div class="portfolio-item__info">
                        <h3 class="portfolio-item__header">Yooha Bae</h3>
                            <div class="portfolio-item__link-block">
                                <i class="material-icons">UI/UX Designer</i>
                            </div>
                        </div>  
                    </div>
                </div>
            
        
       
    </div>


<%- include('footer.ejs') %>