<%- include('header.ejs') %>
<style>
    .head{
        font-size: 15pt;
        font-weight: bold;
    }
    .button {
        text-align: center;
    }

    .bt {
        background-color: #800000;
        color: white;
        margin-top: 100px;
        width: 150px;
        height: 50px;
        border-radius: 10px;
    }
</style>
<!-- ENG version -->
<div style="width: 70%;margin: 0px auto 100px auto;">
    <p class="head">
        &lt;State University of New York, Korea Undergraduate Student Council&gt; (hereinafter USC) follows the terms and agreements set by the “Personal Information Protection Act” in order to protect users’ personal information and their rights and interests and to handle user predicaments if necessary. If USC decides to amend the privacy policy, it will be announced (separately) on this website.     o This policy takes into effect as of February 14th, 2021. 
    </p>
    
    
    <p class="head">1. Purpose</p>
    <p>USC will use personal information for the following purpose. The processed personal informational will not be used other than the mentioned purpose, and if the purpose was to be amended, USC will ask for prior consent. </p>
    
    <p>A. Personal information is processed for the purpose of verifying the registration on the website and confirm user intent, classification/verification of user for the membership, maintenance and management of membership, prevention of fraud, and handle user grievances. </p>
    
    <p>B. Personal information is processed when filing complaints, identification of the personnel, confirmation of the complaint, contact during fact-finding and notification, notification of the processed results and etc. </p>
    
    <p class="head">2. Items Provided</p>
    <p>USC will be collecting partial registration information on the start of registration. However, if the user does not fit under any of the categories, user information will not be collected. User registration or confirm personal information – Nickname, Name, E-mail was to be used for service – the following will be collected – IP address, Cookies, Date of Access, Service Logs. 
    </p>
    
    
    <p class="head">3. Processing Personal Information & Retention Period</p>
    <p>① USC will follow legislation regarding possession/retention/usage of the personal information or followed the agreed upon period from the subjected user. </p>
    
    <p>② Processing personal information and retention period for each categories are listed below:</p>
    <p>1. <Registration and website membership management> states that personal information shall be held/used for the purpose listed above from the date of consent to the withdrawal date.
        - Evidence: Agree to terms of use
        - Exception: In case of an investigation or others are underway due to violation of relevant statues, the student information will be held until the end of investigation. It shall be held for up to one year after withdrawal to prevent illegal membership registration. 
    </p>
    
    <p>2. <Managing Civil Affairs> related personal information shall be retained/used for the purpose listed above from the date of consent to the completion of the civil services process.
        - Evidence: Agree to terms of use
    </p>
    
    
    
    <p class="head">4. Provision of Personal Information to 3rd Parties</p>
    <p>① USC shall provide personal information to third parties for cases violated under Article 17 and Article 18 of the Personal Information Protection Act. 
        ② USC shall provide personal information to third parties under the following
        -	Person who receives personal information from State University of New York, Korea 
        -	Purpose of using personal information: Service provided – Possession of the recipient.
        -	Period of use: Until completion of handling civil complaints,
        ※ Personal information is provided to third parties only if it is deemed necessary to handle civil complaints. 
        </p>
    
    
    
    <p class="head">5. Rights and Obligations of Information Subjects and Legal Representation and Methods of Exercise</p>
    
    <p>As an entity of personal information usage, the user may exercise the following rights:
        ① The information user may exercise its rights to USC at any time, such as perusal, correction, deletion, and suspension of the personal information
        ② Under paragraph 1 of the Personal Information Protection Act Enforcement Decree Article 41, user may exercise its rights to write a formal letter, e-mail, or FAX to USC and the student council will take immediate action. 
        ③ Under paragraph 1, exercise of rights may be conducted through an agent, such as a legal representative of the information subject or delegated personnel. In such scenario, a power of attorney in attached Form 11 of the Enforcement Rules of the Personal Information Protection Act shall be submitted. 
        ④ Rights of the information subject may be restricted pursuant to Articles 35 Section 5, and Article 37 Section 2 of the Personal Information Protection Act. 
        ⑤ A request for correction and deletion of personal information cannot be requested and processed if the personal information is specified as a collection target under other statues. 
        ⑥ USC verifies that the person who made the request, such as request for access/correction/deletion/suspension of processing shall be him/her themselves or a legitimate representative of the person of request. 
        </p>
    
    
    
    <p class="head">6. Creating Entries for Personal Information</p>
    
    <p>① USC processes the following information:</p>
    <p>1. <Website Registration and Management> - Required: G-mail account, name, e-mail, user activity history log, entry log, cookies, and logged in IP.</p>
    
    <p>2. <Civil Complaints> - Required: Name, e-mail</p>
    
    
    <p class="head">7. Deletion of Personal Information</p>
    <p>In principle, after the purpose of processing personal information is completed, USC shall destroy all personal information without due. The procedures, deadlines, and methods for destruction are as follows: - The information entered by user of the destruction procedures is transferred to a separate DB after achieving the purpose (separate documents in case of written form) and stored for a certain period of time or immediately destroyed in accordance with internal policies and other related laws. Personal information transferred to DB is not used for any other purpose except under the law. – If the personal information is destroyed, the user is not required within 5 working days from the end of the retention period, or if the personal information is unnecessary, such as achieving the purpose of processing the personal information, abolishing the service, or terminating the project. – Devastation Method: The information in electronic file type uses a technical method that prevents the record from being reused. </p>
    
    
    <p class="head">8. Installation, operation, and refusal of automatic personal information collected</p>
    
    <p>① In order to provide individual customized service, USC stores usage information and uses ‘cookies’ that are frequently recalled.
        ② Cookies are small amount of information that the server (http) used to run the website sends user computer browser and are sometimes stored on a hard disk within the user’s pc. 
            A. Purpose of using Cookies: It is used to provide optimized information to users by identifying the types of visits and use of each service and website visited by users, popular search terms, security access, etc.
            B. Installation/Operation and Rejection of Cookies: Tools at the top of the browser>Internet Options> Settings lets you refuse to save cookies
            C. Refusing to store cookies can cause difficulties in using customized services.
        </p>
    
    
    <p class="head">9. Point of Contact for Personal information</p>
    <p>① USC is responsible for processing personal information and designates a point of contact for personal information protection. They are to handle complaints from subjects and provide solutions for problems related to personal information processing</p>
    
    <p>▶POC: Sije Park
        Contact information of the Admin: 010-8826-7711
        It is connected to the department in charge of personal information protection. 
        </p>
    
    <p>② The information authority may contact the POC of personal information protection and the department in charge for inquires, complaints, and damage reliefs by using USC (or business). USC will respond and process inquiries submitted without due. </p>
    
    
    
    <p class="head">10. Amending Privacy Policy</p>
    <p>① Personal information processing policy shall be applied from the effective date listed, and if there is an addition, deletion, or correction of changes according to the statues and policies, the notice will be made seven days before the change is implemented.</p>
    
    
    
    <p class="head">11. Measures to ensure safety of personal information</p>
    <p>USC takes technical management and physical measures necessary listed under the Article 29 of the Personal Information Protection Act to ensure safety as listed. </p>
    
    <p class="head">12. Minimize and educate personal information handling staff</p>
    <p>Implementation of measures to manage personal information by designating ‘employees’ who handle personal information and limiting the numbers of the handling staff.</p>
    </p>
    </div>
<!-- KOR version -->
<div style="width: 70%;margin: 0px auto 100px auto;">
<p class="head">
    <한국뉴욕주립대학교 총학생회>(이하 '학생회')은(는) 개인정보보호법에 따라 이용자의 개인정보 보호 및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.
학생회는 개인정보처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
○ 본 방침은 2021년 2월 14일부터 시행됩니다.
</p>


<p class="head">1. 개인정보의 처리 목적</p>
<p>학생회는 개인정보를 다음의 목적을 위해 처리합니다. 처리한 개인정보는 다음의 목적 이외의 용도로는 사용되지 않으며 이용 목적이 변경될 시에는 사전동의를 구할 예정입니다.</p>

<p>가. 홈페이지 회원가입 및 관리
회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 서비스 부정이용 방지, 고충처리 등을 목적으로 개인정보를 처리합니다.</p>

<p>나. 민원사무 처리
민원인의 신원 확인, 민원사항 확인, 사실조사를 위한 연락·통지, 처리결과 통보 등을 목적으로 개인정보를 처리합니다.</p>

<p class="head">2. 수집하는 개인정보의 항목</p>
<p>학생회는 회원가입 시점부터 아래의 개인정보 중 일부를 수집합니다. 단, 회원이 각 항목에 해당되지 않을 경우, 해당 항목의 개인정보는 수집하지 않습니다.

회원이 회원가입 또는 본인확인을 할 경우
- 닉네임, 이름,이메일

회원이 서비스를 이용하는 경우
- IP 주소, 쿠키, 방문일시, 서비스 이용기록
</p>


<p class="head">3. 개인정보의 처리 및 보유 기간</p>
<p>① 학생회는 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집시에 동의 받은 개인정보 보유,이용기간 내에서 개인정보를 처리,보유합니다.</p>

<p>② 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.</p>
<p>1. <홈페이지 회원가입 및 관리>
<홈페이지 회원가입 및 관리>와 관련한 개인정보는 수집.이용에 관한 동의일로부터 회원 탈퇴 시까지 위 이용목적을 위하여 보유.이용됩니다.
-보유근거 : 회원가입 시 약관 동의
-예외사유 : 관계 법령 위반에 따른 수사․조사 등이 진행중인 경우에는 해당 수사․조사 종료시까지, 학번 정보의 경우 회원 제재 중 탈퇴 시 부정 가입 방지를 위해 탈퇴 이후 최대 1년까지 보유></p>

<p>2. <민원사무 처리>
<민원사무 처리>와 관련한 개인정보는 수집.이용에 관한 동의일로부터 민원사무 처리 완료 시까지 위 이용목적을 위하여 보유.이용됩니다.
-보유근거 : 회원가입 시 약관 동의</p>



<p class="head">4. 개인정보의 제3자 제공에 관한 사항</p>
<p>① 학생회는 정보주체의 동의, 법률의 특별한 규정 등 개인정보 보호법 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.
② 학생회는 다음과 같이 개인정보를 제3자에게 제공하고 있습니다.
- 개인정보를 제공받는 자 : (학) 한국뉴욕주립대학교
- 제공받는 자의 개인정보 이용목적 : 서비스제공
- 제공받는 자의 보유.이용기간: 민원사항 처리 완료 시까지
※ 민원사항 처리를 위해 반드시 필요하다고 판단될 경우에만 개인정보를 제 3자에게 제공하고 있습니다.</p>



<p class="head">5. 정보주체와 법정대리인의 권리·의무 및 그 행사방법</p>

<p>이용자는 개인정보주체로써 다음과 같은 권리를 행사할 수 있습니다.
① 정보주체는 학생회에 대해 언제든지 개인정보 열람,정정,삭제,처리정지 요구 등의 권리를 행사할 수 있습니다.
② 제1항에 따른 권리 행사는 학생회에 대해 개인정보 보호법 시행령 제41조제1항에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 학생회는 이에 대해 지체 없이 조치하겠습니다.
③ 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다. 이 경우 개인정보 보호법 시행규칙 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.
④ 개인정보 열람 및 처리정지 요구는 개인정보보호법 제35조 제5항, 제37조 제2항에 의하여 정보주체의 권리가 제한 될 수 있습니다.
⑤ 개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.
⑥ 학생회는 정보주체 권리에 따른 열람의 요구, 정정·삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.</p>



<p class="head">6. 처리하는 개인정보의 항목 작성</p>

<p>① 학생회는 다음의 개인정보 항목을 처리하고 있습니다.</p>
<p>1. <홈페이지 회원가입 및 관리>
- 필수항목 : G메일 계정, 이름, 이메일, 서비스 이용 기록, 접속 로그, 쿠키, 접속 IP 정보</p>

<p>2. <민원사무 처리>
- 필수항목 : 이름, 이메일</p>


<p class="head">7. 개인정보의 파기</p>
<p>학생회는 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.
-파기절차
이용자가 입력한 정보는 목적 달성 후 별도의 DB에 옮겨져(종이의 경우 별도의 서류) 내부 방침 및 기타 관련 법령에 따라 일정기간 저장된 후 혹은 즉시 파기됩니다. 이 때, DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.

-파기기한
이용자의 개인정보는 개인정보의 보유기간이 경과된 경우에는 보유기간의 종료일로부터 5일 이내에, 개인정보의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보가 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는 날로부터 5일 이내에 그 개인정보를 파기합니다.

-파기방법
전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다.</p>


<p class="head">8. 개인정보 자동 수집 장치의 설치•운영 및 거부에 관한 사항</p>

<p>① 학생회는 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 ‘쿠기(cookie)’를 사용합니다. ② 쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 정보이며 이용자들의 PC 컴퓨터 내의 하드디스크에 저장되기도 합니다. 가. 쿠키의 사용 목적 : 이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부, 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다. 나. 쿠키의 설치•운영 및 거부 : 웹브라우저 상단의 도구>인터넷 옵션>개인정보 메뉴의 옵션 설정을 통해 쿠키 저장을 거부할 수 있습니다. 다. 쿠키 저장을 거부할 경우 맞춤형 서비스 이용에 어려움이 발생할 수 있습니다.</p>


<p class="head">9. 개인정보 보호책임자 작성</p>
<p>① 학생회는 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고 있습니다.</p>

<p>▶ 개인정보 보호책임자
성명 : 박시제
직책 : 학생회 웹사이트 관리자
연락처 : 010-8826-7711,
※ 개인정보 보호 담당부서로 연결됩니다.</p>

<p>② 정보주체께서는 학생회의 서비스(또는 사업)을 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및 담당부서로 문의하실 수 있습니다. 학생회는 정보주체의 문의에 대해 지체 없이 답변 및 처리해드릴 것입니다.</p>



<p class="head">10. 개인정보 처리방침 변경</p>
<p>①이 개인정보처리방침은 시행일로부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다.</p>



<p class="head">11. 개인정보의 안전성 확보 조치</p>
<p>학생회는 개인정보보호법 제29조에 따라 다음과 같이 안전성 확보에 필요한 기술적/관리적 및 물리적 조치를 하고 있습니다.</p>

<p class="head">12. 개인정보 취급 직원의 최소화 및 교육</p>
<p>개인정보를 취급하는 직원을 지정하고 담당자에 한정시켜 최소화 하여 개인정보를 관리하는 대책을 시행하고 있습니다.</p>
</p>
<% if(user!=null) { %>
<div class="button">
    <a href='/post/deleteAccount'><button class="bt">Unregister<br>my account</button></a>
</div>
<% } %>
</div>




<%- include('footer.ejs') %>